.overlay {
  z-index: 1;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.goodsInCart {
  overflow-y: scroll;
  padding-right: 10px;
}

.goodsInCart::-webkit-scrollbar {
  width: 5px;               /* ширина scrollbar */
}

.goodsInCart::-webkit-scrollbar-thumb {
  background-color: #9DD458;    /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */
}

.drawer {
  width: 390px;
  height: 100vh;
  background: white;
  position: absolute;
  right: 0;
  padding: 30px;
  transition: right ease-in-out 1s;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.5);
}

.visible {
  display: block;
}

.cartHeader {
  margin-bottom: 30px;
}

