.cartFooter {

}

.cartSum {

}

.cartTax {

}

.createOrderButton {
  color: #fff;
  border: none;
  border-radius: 18px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  padding: 18px;
  width: 100%;
  cursor: pointer;
  background: url(../../images/arrow.svg) #9DD458 no-repeat 90% center;
}